VITE_SUPABASE_URL=https://mppsqiofllegyhdojybm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wcHNxaW9mbGxlZ3loZG9qeWJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyNDU2MDgsImV4cCI6MjEwNjgyMTYwOH0.yvpthk1Yyk2mp6p3hO4akafZPbIVooPnrw7fkpH253g
